footer {
  background-color: $light-grey;
  padding-top: 50px;

  img {
    width: 50%;
  }

  .address{
    margin-top: 35px;
  }
  .social{

    ul {
      display: inline;
      list-style: none;
      padding-inline-start: 0px;
    }

    li {
      display: inline;
      margin-right: 30px;
    }

    a {
      color: $black;
    }
  }

}

